.loader {
  font-size: 51px;
  color: var(--alto-dark);
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0s;
  animation-name: loading;
  &--circle {
    font-size: 75px;
    color: #eeeeee;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0s;
    animation-name: spin;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    font-size: 51px;
  }
  to {
    font-size: 0px;
  }
}
