@import "../../typography.scss";

.userCard {
  margin: 9.6px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__grid {
    display: grid;
    grid-template-columns: 15% 80%;
  }
  &__icon {
    font-size: 14px;
    color: var(--pigeon-post);
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
  }
  &__text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: row1-start;
    grid-row-end: 1;
    @include openSansRegular;
    color: var(--mine-shaft-dark);
  }
}
