.loaderContainer {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  color: #eeeeee;
  &__close {
    cursor: pointer;
    margin: 30px;
    font-size: 35px;
    align-self: flex-end;
  }
  &__loader {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    &--text {
      font-size: 32px;
    }
  }
}
